<div class="review clearfix">
	<div class="review_content">
		<p class="review_feedback"><strong><%= review.feedback %></strong></p>
		<p class="review_time"><%= time_ago_in_words(review.created_at) %> Ago</p>
	</div>
