
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">BookingPlatform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <li><%= link_to "My items", owned_items_path, class: "active" %></li>
     <% else %>
     <li><%= link_to "Sign Up", new_user_registration_path, class: "active" %></li>
     <li><%= link_to "Sign In", new_user_session_path, class: "active" %></li>
       <% end %>
     <li><%= link_to " Items", items_path,  class: "active" %></li>
    </ul>
  </div>
</nav>
